<h1>Ingridient Search</h1>

<div class="form-group" >
    <label style="margin-bottom: 10px">Ingridient:</label>
    <input [(ngModel)]="placeholderIngridient" class="form-control">
</div>

<div class="form-group" style="margin-top: 10px">
    <button style="margin-right:10px" class="custom-button" (click)="searchIngridient()" [disabled]="!placeholderIngridient">
        Search
    </button>
    <button type="button" class="custom-button" (click)="openDialog()">Add Ingridient</button>
    <!-- <button type="button" class="btn btn-primary" (click)="createIngridient()">Add Test</button> -->
</div>

<table class="table table-striped" style="max-width: 50%">
    <thead>
        <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Ingridient Name</th>
            <th scope="col">Is Vegetarien</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ingridient of ingridients; let counter = index"
            [ngClass]="{ 'active': ingridient === selectedIngridient }">
            <td>{{counter}}</td>
            <td>{{ingridient.ingridientName}}</td>
            <td>{{ingridient.isVegetarian}}</td>
            <!-- <td><a (click)="selectIngridient(ingridient)">Select</a></td> -->
        </tr>
    </tbody>
</table>
